/*    Settings
=====================================================*/
:root {
  /* Contents */
  --cont-width: 1094px;

  /* Color */
  --color-main: #fff;
  --color-sub: #fafafa;
  --color-border: #eee;
  --color-bg: #f5f5f5;
  --color-text: #333;
  --color-hover: #bbb;
  --color-reverse: #fff;

  --color-gray: #D9D9D9;
  --color-light-gray: #F8F8F8;

  --color-orange: #FE7A16;
  --color-green: #D3DE18;
  --color-yellow: #F8D90E;

  /* Text */
  --font-en: "Roboto", sans-serif;
  --font-jp: "Noto Sans JP", sans-serif;
  /* --font-jp: YuGothic, "Yu Gothic Medium", "Yu Gothic"; */
  --fz-main: 1.4rem;
  --line-height: 1;

  /* Other */
  --opacity: 0.7;
  --transition: 0.2s;
  --bdrs-infinite: calc(1px / 0);
  --leading-trim: calc((1em - 1lh) / 2);

  --triangle-t: polygon(50% 0, 0 100%, 100% 100%);
  --triangle-b: polygon(50% 100%, 0 0, 100% 0);
  --triangle-l: polygon(0 50%, 100% 100%, 100% 0);
  --triangle-r: polygon(100% 50%, 0 100%, 0 0);
}
